Турпоход.
line = name, weight, utility

line = name, weight, utility

In [339]:
lst = []
lst += [['вода', 3, 10]]
lst += [['книга', 1, 3]]
lst += [['еда', 2, 9]] 
lst += [['куртка', 2, 5]]
lst += [['камера', 1, 6]]

In [340]:
lst

[['вода', 3, 10],
 ['книга', 1, 3],
 ['еда', 2, 9],
 ['куртка', 2, 5],
 ['камера', 1, 6]]

Какой оптимальный набор для похода для 6 рюкзаков разной вместимости (1-6)
Предмет существует в единственном количестве

In [341]:
lst = sorted(lst, key=lambda s: s[1])

In [342]:
import pandas as pd

In [343]:
ind = [lst[i][0] for i in range(len(lst))]

In [344]:
ind

['книга', 'камера', 'еда', 'куртка', 'вода']

In [345]:
col = [int(i) for i in range(1, 7)]

In [346]:
col

[1, 2, 3, 4, 5, 6]

In [347]:
df = pd.DataFrame(index=ind, columns=col)

In [348]:
df

          1    2    3    4    5    6
книга   NaN  NaN  NaN  NaN  NaN  NaN
камера  NaN  NaN  NaN  NaN  NaN  NaN
еда     NaN  NaN  NaN  NaN  NaN  NaN
куртка  NaN  NaN  NaN  NaN  NaN  NaN
вода    NaN  NaN  NaN  NaN  NaN  NaN

In [349]:
maxim = 0
lst2 = list(filter(lambda x: (x[2], x[1] <= 6), lst))
for i in range(1, 7):
    capacity = i
    for j in range(len(lst)):
        try:
            lst2 = list(filter(lambda x: x[1]<= capacity, lst))
            lst3 = sorted(lst2, key = lambda x: x[2], reverse= True) 
            df.loc[str(lst3[0][0]), i] = lst3[0][2]
            capacity -= lst3[0][1]
            for k in range(1, len(lst3)):
                if capacity >= lst3[k][1]:
                    df.loc[lst3[k][0], i] = lst3[k][2]
                    capacity -= lst3[k][1]
        except IndexError:
            pass

In [350]:
df

          1    2    3    4    5    6
книга   NaN  NaN  NaN  NaN  NaN  NaN
камера    6  NaN  NaN    6  NaN    6
еда     NaN    9  NaN  NaN    9    9
куртка  NaN  NaN  NaN  NaN  NaN  NaN
вода    NaN  NaN   10   10   10   10